* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: wheat;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  padding: 7vh;
  align-self: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
li {
  list-style: none;
  padding-bottom: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

p {
  color: rgb(71, 71, 71);
  padding: 10px;
}

a {
  color: 007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
